* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 4rem;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.main-container {}